.feed-item {
    width: 620px;
    max-width: 620px;
}

.chat-box {
    border: 1px solid var(--brown-2);
    border-top: none;
    padding: 25px 15px 15px 15px;
    margin-top: -20px;
    position: relative;
    z-index: -10;
}

.chat-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
}

.username {
    color: var(--orange);
    margin-right: 5px;
}

.event-actions-container {
    margin-top: -15px;
}
