.filter-bar {
    width: 620px;
    height: 54px;
    display: flex;
    position: relative;
}

.search-button,
.close-button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    color: var(--brown-1);
    cursor: pointer;
    margin-left: auto;
}

.search-button {
    border: 1px solid var(--brown-2);
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.search-button:hover,
.close-button:hover {
    color: var(--off-white);
}
