.updates-card {
    background-color: var(--brown-3);
    padding: 15px 15px 25px 15px;
    border-radius: 20px;
}

.updates-card:first-child {
    border-radius: 0 0 20px 20px;
}

.updates-card:last-child {
    border-radius: 20px 20px 0 0;
}

.time-tag {
    font-size: var(--small);
    color: var(--brown-1);
    margin-bottom: 10px;
}
