.event-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 5px;
}

.countdown {
    font-family: "IBM Plex Mono";
    font-size: var(--large);
    width: 150px;
    min-width: 150px;
    margin-left: 10px;
}

.countdown::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: var(--brown-2);
}
