#root {
    height: 100%;
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* This is done to avoid overlapping with the navigation bar*/
    margin-left: 94px;
}
